.main_nav {
	display: none;
		@include for_tablet_landscape {
			display: block;
			width: 100%;
			min-height: 60px;
			z-index: 100;
			background-color: $main-blue;
		}
}
.nav_container {
	width: 90%;
	margin: 0 auto;
	padding: 0.6rem 0;
		@include for_desktop {
 			width: 93%;
 		}
 		@include custom_rwd (1236px) {
 			width: 90%;
 		}
}
.main_nav .menu {
	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap;
 	justify-content: center;
 		@include for_desktop {
 			justify-content: left;
			width: 93%;
		}
		@include custom_rwd (1236px) {
			width: 90%;
		}
}
.main_nav .menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
		@include for_desktop {
			justify-content: left;
		}
		li {
			position: relative;
			display: inline-block;
				a {
					display: inline-block;
					padding: 10px;
					font-family: $nav-font;
					text-transform: uppercase;
					text-decoration: none;
					color: $font-white;
					@include my_transition(all, $tr-slow);
				}
				&:hover a {
							background-color: $white;
							color: $font-orange;
				}
				&:hover .sub-menu {
									display: block;
				}
		}
	.sub-menu {
	position: absolute;
	z-index: 100;
	width: 15rem;
	display: none;
	background-color: $white;
		li {
			width: 100%;
			a {
				display: block;
				background-color: white;
				@include my_transition (all, $tr-slow);
				&:hover {
					background-color: $orange;
					color: $white;
				}
			}
		}
	}
}
.current_page_item {
	background-color: $white;
		a {
			color: $font-orange !important;

	}
}
.sticky {
	position: fixed;
	top: 0;
}

// +++ +++ +++ FOOTER NAVIGATION +++ +++ +++
.footer_nav {
	text-align: center;
		@include for_tablet_portrait {
			text-align: left;
		}
		@include from_xl_desktop {
			width: 50%;
		}
	.menu {
		li {
			padding: 0.25rem;
			@include for_tablet_landscape {
				@include my_transition(all, $tr-slow);
			}
			a {
				color: $white;
			}
			&:hover {
				background-color: $white;
			}
			&:hover a {
				color: $orange;
			}
		}
	}
}